//---- CartWidget
#lblCartCount {
  font-size: 1rem;
  background: #db868c;
  color: #1f1e1e;
  vertical-align: top;
  display: inline;
}

#btnCarritoNav {
  color: #1f1e1e;
  &:hover {
    color: #7b94b3;
    background-color: inherit;
    transition: 100ms linear;
  }
}
