.cart-summary {
  background-color: #e9ccbc;
  border: 1px solid black;
  box-shadow: 5px 5px #888888;
  li {
    display: flex;
    justify-content: space-between;
    span {
      color: #302e2e;
      font-size: 1rem;
    }
  }
}

.btnCheckout {
  background-color: #7b94b3;
  border: 2px solid black;
  border-radius: 1rem;
  &:hover {
    color: white;
  }
}
