* {
    box-sizing: border-box; 
}
  
body {
    font-family: 'Cabin', sans-serif;
    margin: 0; 
}
  
a {
    text-decoration: none;
    color: white; 
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  header div {
    width: max-content;
    align-self: center;
    justify-self: center; }



#menuPrincipal {
    text-align: center;
    height: min-content;
    align-self: center;
    width: 100%; }
    #menuPrincipal ul {
    background-color: #E9CCBC;
      list-style-type: none;
      font-weight: 800;
      font-size: 1.7rem;
      width: 100%; }
      #menuPrincipal ul li {
        text-align: center;
        align-self: center; }
        #menuPrincipal ul li a {
          color: black;
        }
        #menuPrincipal ul li a:hover {
          color: white;
          background-color: black;
          border-radius: 0.4rem;
          transition: 300ms linear; }
        #menuPrincipal ul li #btnCarritoNav:hover{
          color: #7B94B3;
          background-color: inherit;
          transition: 100ms linear; }
  
 
#lblCartCount {
  font-size: 1rem;
  background: #db868c;
  color: #1f1e1e;
  vertical-align: top;
}

#accionAgregar {
  background-color: #a1c0a4;
  border: solid 1px; 
  border-radius: 1rem;
}
  #accionAgregar:hover {
    border-color: black;
    border: solid 1.5px;
    box-shadow: 1px 1px #242424; }

#accionRestar {
  background-color: #f7af93;
  border: solid 1px;
  border-radius: 0.4rem;
  color: black; }
  #accionRestar:hover {
    border-color: black;
    border: solid 1.5px;
    box-shadow: 1px 1px #242424; }


    .btn-Carrito {
      padding: 0.3rem;
      border-color: black;
      background-color: #DCABAE;
      border-radius: 0.2rem;
      cursor: pointer;
      font-weight: 700;
      font-size: 1rem; }
    
    .btn-Carrito:hover {
      border-color: white;
      color: white;
      background-color: black;
      transition: 300ms linear; }