@charset "UTF-8";
/*Paleta de colores
#7B94B3 (azul)
#DCABAE (rosado)
#E9CCBC (cremita)
#C5C6C8 (gris)
#E4DDD3 (neutro)
#B1674A (marron-rojizo)
#EFE8DE (beige footer)
#595959 (gris oscuro)
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

/*---------------------------HEADERS---------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
header div {
  width: max-content;
  align-self: center;
  justify-self: center;
}

/*------------Menú de pantallas medianas y grandes-----------------*/
#menuPrincipal {
  text-align: center;
  height: min-content;
  align-self: center;
  width: 100%;
}
#menuPrincipal ul {
  background-color: #E9CCBC;
  list-style-type: none;
  font-weight: 800;
  font-size: 1.7rem;
  width: 100%;
}
#menuPrincipal ul li {
  text-align: center;
  align-self: center;
}
#menuPrincipal ul li a {
  color: black;
}
#menuPrincipal ul li a:hover {
  color: white;
  background-color: black;
  border-radius: 0.4rem;
  transition: 300ms linear;
}
#menuPrincipal ul li #btnCarritoNav:hover {
  color: #7B94B3;
  background-color: inherit;
  transition: 100ms linear;
}

/*---------Menú de pantallas chicas--------NO FUNCIONA-----*/
a.dropdown-item.seccion-activa {
  color: #DCABAE;
}

.dropdown {
  margin-bottom: 0;
}

.dropdown-menu.show {
  background-color: #404040;
  color: white;
}

.dropdown-item {
  color: white;
}

#btnCarritoNav {
  color: #1f1e1e;
}
#btnCarritoNav:hover {
  color: #7B94B3;
  background-color: inherit;
  transition: 100ms linear;
}

#lblCartCountDrop {
  font-size: 1rem;
  background: #DCABAE;
  color: #1f1e1e;
  vertical-align: top;
  display: none;
}

#accionAgregar {
  background-color: #a1c0a4;
  border: solid 1.5px;
  border-radius: 0.4rem;
}
#accionAgregar:hover {
  border-color: black;
  border: solid 2.5px;
  box-shadow: 1px 1px #242424;
}

#accionRestar {
  background-color: #f7af93;
  border: solid 1.5px;
  border-radius: 0.4rem;
  color: black;
}
#accionRestar:hover {
  border-color: black;
  border: solid 2.5px;
  box-shadow: 1px 1px #242424;
}

#lblCartCount {
  font-size: 1rem;
  background: #db868c;
  color: #1f1e1e;
  vertical-align: top;
}

.btn-Carrito {
  padding: 0.3rem;
  border-color: black;
  background-color: #DCABAE;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}
.btn-Carrito:hover {
  border-color: white;
  color: white;
  background-color: black;
  transition: 300ms linear;
}

.line {
  width: 80px;
  height: 4px;
  background-color: #7b94b3;
  margin-bottom: 15px;
  display: block;
}

.product-price {
  font-size: 2rem;
  font-weight: 700;
  color: #7b94b3;
  line-height: 1;
}

.ratings-review .ratings i {
  font-size: 10px;
  color: #fbb710;
}
.ratings-review .review a {
  display: inline-block;
  color: #6b6b6b;
  font-size: 14px;
}

.avaibility {
  margin-bottom: 0;
  font-size: 12px;
  color: #6b6b6b;
  line-height: 1;
}
.avaibility i {
  color: #6dd886;
  font-size: 12px;
}

.short_overview p {
  color: #6b6b6b;
}

#cartel {
  border: 4px solid black;
}
