//----- ItemCount
#accionAgregar {
  color: black;
  background-color: #a1c0a4;
  border: solid 1.5px;
  border-radius: 0.4rem;
  &:hover {
    border-color: black;
    border: solid 2.5px;
    box-shadow: 1px 1px #242424;
  }
}

#accionRestar {
  color: black;
  background-color: #f7af93;
  border: solid 1.5px;
  border-radius: 0.4rem;
  &:hover {
    border-color: black;
    border: solid 2.5px;
    box-shadow: 1px 1px #242424;
  }
}

.btn-Carrito {
  color: black;
  padding: 0.3rem;
  border-color: black;
  background-color: #dcabae;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  &:hover {
    border-color: white;
    color: white;
    background-color: black;
    transition: 300ms linear;
  }
}

//queda azul el botón cuando se agrega al carrito
.btn-CarritoDos {
  @extend .btn-Carrito;
  background-color: #7b94b3;
}
