//------- ItemList
.btn-Carrito {
  padding: 0.3rem;
  border-color: black;
  background-color: #dcabae;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  &:hover {
    border-color: white;
    color: white;
    background-color: black;
    transition: 300ms linear;
  }
}

.card-img-top:hover {
  transform: scale(1.1, 1.1);
  transition: 0.25s;
}
